# Git ignore file for the Chip-8 NX project

# Output directories
build/

# Coverage directory
coverage/

# MacOS system files
.DS_Store

# VS Code settings folder
.vscode/

# Test ROMs
packages/core/tests/conformance/roms/*.ch8
